<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CHINNI</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" rourterLink="home">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="products" >Products <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active"*ngIf="isloggedInUser && isloggedInUser.role=='USER'">
                <a class="nav-link" routerLink="myOrders" >My Orders <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active"*ngIf="isloggedInUser && isloggedInUser.role=='ADMIN'">
                <a class="nav-link" routerLink="orders" >Orders <span class="sr-only"></span></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/login" *ngIf="!isloggedInUser">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/register" *ngIf="!isloggedInUser">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" *ngIf="isloggedInUser">welcome {{ isloggedInUser?.username }}</a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" *ngIf="isloggedInUser" (click)="logout()">Logout</a>
            </li>
           
        </ul>
    </div>
</nav>