<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">CHINNI</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"  *ngIf="isLoggedInUser" aria-expanded="false">Category</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Bangles</a>
                    <a class="dropdown-item" href="#">Earrings</a>
                    <a class="dropdown-item" href="#">Bracelets</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#" *ngIf="!isLoggedInUser">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" *ngIf="!isLoggedInUser">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" *ngIf="isLoggedInUser">Logout</a>
            </li>
           
        </ul>
    </div>
</nav>