<h1 style="text-align: center;">CHINNI HANDICRAFTS</h1>
<h3 style="text-align: center;">Registration Form</h3>
<div class="wrapper">
    <div id="page-content" style="text-align: center;">
        
        <form (ngSubmit)="register(r)" #r="ngForm" autocomplete="off" style="text-align: center;">
            <div class="form-group">
                <label style="display: inline-block;">NAME</label>
                <input type="text" name="username" id="username" class="reg" [(ngModel)]="username"
                    placeholder="Enter username" required autofocus><br>
            </div>
            <div class="form-group">
                <label>EMAIL-ID</label>
                <input type="email" name="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="reg"
                    [(ngModel)]="email" placeholder="ex: abc@gmail.com" required EmailValidator><br>
            </div>

            <label>PASSWORD</label>
            <input type="password" name="password" id="password" class="reg" [(ngModel)]="password"
                placeholder="Enter password" required><br>

            <button [disabled]="r.invalid">REGISTER</button>

        </form>
        ALREADY HAVE AN ACCOUNT.<a routerLink="/login"> LOGIN HERE..</a>
    </div>
</div>
<div id="overlay-area"></div>
